<?php
/**
 * @author stev leibelt <artodeto@bazzline.net>
 * @since 2015-09-12
 */

//the authorization token
$token = '13f0d9c1d3643a86f0daa257be0fb1efe5b9e5a7';    //sha1('unique_number_repository')
